<mat-card>
    <form
        (submit)="onSubmit(clientForm)"
        #clientForm="ngForm"
    >
        <mat-form-field>
            <input
                id="name"
                name="name"
                type="text"
                placeholder="John"
                min="4"
                required
                matInput
                [ngModel]="client?.name"
                #name="ngModel"
            />
        </mat-form-field>
        <mat-error *ngIf="name.invalid">
            Insert a valid name
        </mat-error>
        <mat-form-field>
            <input
                id="phone"
                name="phone"
                type="text"
                placeholder="9999-9999"
                required
                matInput
                [ngModel]="client?.phone"
                #phone="ngModel"
            />
        </mat-form-field>
        <mat-error *ngIf="phone.invalid">
            Insert a valid phone number
        </mat-error>
        <mat-form-field>
            <input
                id="email"
                name="email"
                type="text"
                placeholder="email@email.com"
                required
                matInput
                [ngModel]="client?.email"
                #email="ngModel"
            />
        </mat-form-field>
        <mat-error *ngIf="email.invalid">
            Insert a valid email address
        </mat-error>
        <button
            color="accent"
            mat-raised-button
        >
            Save Client
        </button>
    </form>
</mat-card>
