<mat-card>
    <mat-form-field>
        <input
            id="name"
            name="name"
            type="text"
            placeholder="John"
            [(ngModel)]="client.name"
            matInput
        />
    </mat-form-field>
    <mat-form-field>
        <input
            id="phone"
            name="phone"
            type="text"
            placeholder="9999-9999"
            [(ngModel)]="client.phone"
            matInput
        />
    </mat-form-field>
    <mat-form-field>
        <input
            id="email"
            name="email"
            type="text"
            placeholder="email@email.com"
            [(ngModel)]="client.email"
            matInput
        />
    </mat-form-field>
    <button
        color="primary"
        mat-raised-button
        (click)="onAddClient()"
    >
        Insert Client
    </button>
</mat-card>
