<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form
        [formGroup]="form"
        (submit)="onSubmit(clientForm)"
        *ngIf="!isLoading"
    >
        <mat-form-field>
            <input
                id="name"
                name="name"
                formControlName="name"
                type="text"
                placeholder="John"
                matInput
            />
            <mat-error *ngIf="form.get('name').invalid">
                Insert a valid name
            </mat-error>
        </mat-form-field>
        <div>
            <button
                type="button"
                mat-stroked-button
                (click)="selectFile.click()"
            >
                Select an Image
            </button>
            <input
                type="file"
                #selectFile
                (change)="onImageSelected($event)"
            />
        </div>
        <div class="image-preview">
            <img
                *ngIf="previewImage && previewImage !== '' && form.get('image').valid"
                [src]="previewImage"
                [alt]="form.value.name"
            />
        </div>
        <mat-form-field>
            <input
                id="phone"
                name="phone"
                formControlName="phone"
                type="text"
                placeholder="9999-9999"
                matInput
            />
            <mat-error *ngIf="form.get('phone').invalid">
                Insert a valid phone number
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                id="email"
                name="email"
                formControlName="email"
                type="text"
                placeholder="email@email.com"
                matInput
            />
            <mat-error *ngIf="form.get('email').invalid">
                Insert a valid email address
            </mat-error>
        </mat-form-field>
        <button
            color="accent"
            mat-raised-button
        >
            Save Client
        </button>
    </form>
</mat-card>
