<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="clients.length>0 && !isLoading">
    <mat-expansion-panel *ngFor="let client of clients">
        <mat-expansion-panel-header>
            Name: {{ client.name }}
        </mat-expansion-panel-header>
        <div class="client-image">
            <img
                [src]="client.imageURL"
                [alt]="client.name"
            />
        </div>
        <p>Phone: {{ client.phone }}</p>
        <p>Email: {{ client.email }}</p>
        <mat-action-row>
            <button
                color="primary"
                [routerLink]="['edit', client.clientId]"
                mat-button
            >
                EDIT
            </button>
            <button
                mat-button color="warn"
                (click)="onDelete(client.clientId)"
            >
                REMOVE
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p
    *ngIf="clients.length<=0 && !isLoading"
    class="mat-body-1"
    style="text-align: center;"
>
    Nenhum cliente cadastrado
</p>
